nav{
    width: 99%;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 4px 12px 0 rgb(0 0 0 / 7%), 0 2px 4px rgb(0 0 0 / 5%);
    padding-top: 0.5625rem;
    background-color: rgba(251,251,251)!important;
    margin-top: 10px;
    padding: 0px 10px;
}

.link{
    text-decoration: none;
    color:rgba(0,0,0,.9);
    font-weight: bolder;
}

.active{
    color: black;
}

.seperator{
    font-weight: bolder;
}